src/main/resources/vo_schema/imeji.org_terms_metadata.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://imeji.org/terms/metadata" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="ingest.xsd"/>

  <xs:element name="conePerson" type="conePerson"/>

  <xs:element name="date" type="date"/>

  <xs:element name="geolocation" type="geolocation"/>

  <xs:element name="license" type="license"/>

  <xs:element name="link" type="link"/>

  <xs:element name="number" type="number"/>

  <xs:element name="publication" type="publication"/>

  <xs:element name="text" type="text"/>








</xs:schema>

