src/main/resources/vo_schema/ingest/item/purl.org_dc_terms.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://purl.org/dc/terms" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="created" type="xs:dateTime"/>

  <xs:element name="creator" type="xs:string"/>

  <xs:element name="description" type="xs:string"/>

  <xs:element name="identifier" type="xs:string"/>

  <xs:element name="issued" type="xs:dateTime"/>

  <xs:element name="modified" type="xs:dateTime"/>

  <xs:element name="title" type="xs:string"/>

  <xs:element name="type" type="xs:string"/>
</xs:schema>

