src/main/resources/vo_schema/ingest/item/purl.org_escidoc_metadata_terms_0.1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://purl.org/escidoc/metadata/terms/0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="alternative-name" type="xs:string"/>

  <xs:element name="city" type="xs:string"/>

  <xs:element name="complete-name" type="xs:string"/>

  <xs:element name="country" type="xs:string"/>

  <xs:element name="family-name" type="xs:string"/>

  <xs:element name="given-name" type="xs:string"/>

  <xs:element name="role" type="xs:string"/>
</xs:schema>

