src/main/resources/vo_schema/ingest/item/purl.org_dc_elements_1.1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://purl.org/dc/elements/1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="description" type="xs:string"/>

  <xs:element name="identifier" nillable="true" type="xs:anyType"/>

  <xs:element name="title" type="xs:string"/>
</xs:schema>

